
<div class="row">
    <div class="col-12">
        <h2 style="text-align: center;">Jumo Feilding Foundry...</h2>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <button style="text-align: center; margin-left: 25%;" class="btn btn-primary col-md-6" (click)="FetchSong()">
            Login
        </button>
    </div>
    <div class="col-4"></div>
    <div *ngIf="showEd">
        <div style="text-align: center; margin-top: 100px;" class="col-12">
            <h3>We could not fetch Gally, have you tried...</h3>
            
        </div>
        <div style="text-align: center;" class="col-12">
            <img src="../../../assets/img/ShapeOfYou.jpg" alt="Ed" width="298" height="169">
        </div>
    </div>
</div>
